[Unit]
Description=rbldnsd - DNS blocklist daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rbldns
Group=rbldns
ExecStart=/usr/sbin/rbldnsd $RBLDNSD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
EnvironmentFile=-/etc/sysconfig/rbldnsd
EnvironmentFile=-/etc/default/rbldnsd

[Install]
WantedBy=multi-user.target
