#!/usr/bin/make -f
# debian/rules for rbldnsd using CMake

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DENABLE_JEMALLOC=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_install:
	dh_auto_install
	install -D -m 0644 rbldnsd.service $(CURDIR)/debian/rbldnsd/lib/systemd/system/rbldnsd.service
	install -D -m 0644 debian/rbldnsd.default $(CURDIR)/debian/rbldnsd/etc/default/rbldnsd

override_dh_installdocs:
	dh_installdocs README.md NEWS TODO CHANGES-0.81 README.user

.PHONY: override_dh_auto_configure override_dh_auto_install override_dh_installdocs